In [99]:
import pandas as pd
train_data1 = pd.read_csv("C:/Users/Administrator/Desktop/650FINAL2/useful3/1.csv")
train_data2 = pd.read_csv("C:/Users/Administrator/Desktop/650FINAL2/useful3/2.csv")
train_data3 = pd.read_csv("C:/Users/Administrator/Desktop/650FINAL2/useful3/3.csv")

In [100]:
train_data1.head()

,host_response_rate,host_acceptance_rate,host_total_listings_count,host_has_profile_pic,host_identity_verified,latitude,longitude,is_location_exact,accommodates,bathrooms,...,beds,guests_included,extra_people,minimum_nights,maximum_nights,availability_30,availability_60,number_of_reviews,instant_bookable,price
0,0.00,1.00,1,1,1,22.281020,114.154017,0,2,1.0,...,1,1,0,1,1125,30,60,0,0,496
1,1.00,1.00,1,1,0,22.284172,114.150650,0,2,1.0,...,1,1,0,1,1125,19,49,0,1,900
2,0.85,0.94,1,1,1,22.281881,114.152784,0,1,1.0,...,1,1,0,1,1125,4,21,4,0,357
3,0.89,0.75,1,1,0,22.286345,114.145656,1,1,1.0,...,1,1,0,1,7,29,59,46,0,690
4,0.00,1.00,1,1,0,22.283813,114.160818,0,12,0.5,...,2,1,0,1,1125,30,60,0,0,302

In [101]:
train_data2.head()

,host_response_rate,host_acceptance_rate,host_total_listings_count,host_has_profile_pic,host_identity_verified,latitude,longitude,is_location_exact,accommodates,bathrooms,...,beds,guests_included,extra_people,minimum_nights,maximum_nights,availability_30,availability_60,number_of_reviews,instant_bookable,price
0,1.0,0.00,1,1,1,22.273795,114.172495,1,3,1.0,...,2,1,0.0,3,20,29,59,0,0,1241
1,1.0,1.00,1,1,1,22.278050,114.193187,0,6,1.0,...,2,1,0.0,1,1125,14,44,1,0,799
2,0.9,0.75,3,1,1,22.281034,114.181523,1,3,1.0,...,2,0,0.0,30,100,30,60,9,0,496
3,1.0,1.00,1,1,1,22.277047,114.169299,1,2,1.0,...,1,1,0.0,1,1125,30,60,1,0,853
4,1.0,1.00,1,1,1,22.282237,114.182462,0,2,1.0,...,1,0,0.0,5,1125,21,21,0,0,1032

In [102]:
train_data3.head()

,host_response_rate,host_acceptance_rate,host_total_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,guests_included,extra_people,minimum_nights,maximum_nights,availability_30,availability_60,number_of_reviews,price
0,1.00,1.00,4,22.321091,114.169552,2,1.0,1.0,2.0,1,0,1,10000,30,60,0,256
1,0.99,0.87,21,22.301644,114.174483,4,1.0,1.0,3.0,2,100,3,365,27,50,59,527
2,1.00,0.94,10,22.299526,114.173451,2,1.0,1.0,1.0,1,0,1,1125,26,51,4,427
3,1.00,1.00,7,22.312277,114.169634,8,1.0,3.0,4.0,8,93,1,1125,19,43,15,1140
4,0.00,1.00,1,22.307925,114.166118,1,1.5,1.0,2.0,1,0,1,1125,30,60,0,4297

In [103]:
# train = train_data.select_dtypes(include=['float64','int64']).iloc[:,1:]

In [104]:
test_data1 = pd.read_csv("C:/Users/Administrator/Desktop/650FINAL2/data1.csv")
test_data2 = pd.read_csv("C:/Users/Administrator/Desktop/650FINAL2/data2.csv")
test_data3 = pd.read_csv("C:/Users/Administrator/Desktop/650FINAL2/data3.csv")

In [105]:
test_data1.head()

,host_response_rate,host_acceptance_rate,host_total_listings_count,host_has_profile_pic,host_identity_verified,latitude,longitude,is_location_exact,accommodates,bathrooms,bedrooms,beds,guests_included,extra_people,minimum_nights,maximum_nights,availability_30,availability_60,number_of_reviews,instant_bookable
0,1.00,1.00,23,1,1,22.287712,114.148821,1,3,1.0,1,1,1,0,4,120,30,60,1,1
1,0.75,1.00,1,1,0,22.286159,114.146969,1,1,1.0,1,1,1,0,5,30,8,24,14,0
2,1.00,1.00,1,1,1,22.285770,114.129931,1,1,1.0,1,1,1,0,1,1125,0,0,0,1
3,1.00,0.90,3,1,1,22.285462,114.136979,1,2,1.0,1,1,0,0,3,180,2,2,7,0
4,1.00,0.94,1,1,1,22.283885,114.152385,1,1,1.0,1,1,1,0,2,21,2,11,17,0

In [106]:
test_data2.head()

,host_response_rate,host_acceptance_rate,host_total_listings_count,host_has_profile_pic,host_identity_verified,latitude,longitude,is_location_exact,accommodates,bathrooms,bedrooms,beds,guests_included,extra_people,minimum_nights,maximum_nights,availability_30,availability_60,number_of_reviews,instant_bookable
0,0.98,1.0,5,1,1,22.267982,114.183846,1,2,1.0,0,1,1,0,1,1125,29,54,24,0
1,0.98,1.0,5,1,1,22.270117,114.184474,1,2,1.0,0,1,1,0,1,1125,27,51,27,0
2,1.00,1.0,2,1,1,22.267545,114.188875,0,2,1.0,1,2,0,0,1,1125,30,60,29,0
3,1.00,1.0,1,1,0,22.286032,114.192022,0,2,1.0,1,1,2,200,3,1125,3,4,3,0
4,1.00,1.0,1,1,1,22.280958,114.181907,1,3,1.0,1,1,2,100,1,1125,4,14,18,1

In [107]:
test_data3.head()

,host_response_rate,host_acceptance_rate,host_total_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,guests_included,extra_people,minimum_nights,maximum_nights,availability_30,availability_60,number_of_reviews
0,1.00,1.00,3,22.298200,114.171473,3,1.0,1,2,1,0.0,1,1125,25,55,1
1,1.00,1.00,1,22.298159,114.171122,4,1.0,1,2,1,50.0,1,1125,30,57,1
2,0.90,0.44,16,22.313053,114.170893,3,1.0,1,2,1,0.0,1,1125,30,60,4
3,0.96,1.00,22,22.305838,114.172752,2,1.0,1,1,1,0.0,1,1125,19,42,8
4,0.80,0.50,1,22.302056,114.184344,3,1.0,2,2,1,0.0,1,1125,30,58,1

In [108]:
train_1 = train_data1.dropna()
train_2 = train_data2.dropna()
train_3 = train_data3.dropna()

In [109]:
test_1 = test_data1.dropna()
test_2 = test_data2.dropna()
test_3 = test_data3.dropna()

In [110]:
train1 = train_1.select_dtypes(include=['float64','int64']).iloc[:,1:]
train2 = train_2.select_dtypes(include=['float64','int64']).iloc[:,1:]
train3 = train_3.select_dtypes(include=['float64','int64']).iloc[:,1:]

In [111]:
x_test_1 = test_1.select_dtypes(include=['float64','int64']).iloc[:,1:]
x_test_2 = test_2.select_dtypes(include=['float64','int64']).iloc[:,1:]
x_test_3 = test_3.select_dtypes(include=['float64','int64']).iloc[:,1:]

In [112]:
y_train_1 = train1["price"]
x_train_1 = train1.drop("price",axis = 1)

y_train_2 = train2["price"]
x_train_2 = train2.drop("price",axis = 1)

y_train_3 = train3["price"]
x_train_3 = train3.drop("price",axis = 1)

In [113]:
x_train_1.head()

,host_acceptance_rate,host_total_listings_count,host_has_profile_pic,host_identity_verified,latitude,longitude,is_location_exact,accommodates,bathrooms,bedrooms,beds,guests_included,extra_people,minimum_nights,maximum_nights,availability_30,availability_60,number_of_reviews,instant_bookable
0,1.00,1,1,1,22.281020,114.154017,0,2,1.0,1,1,1,0,1,1125,30,60,0,0
1,1.00,1,1,0,22.284172,114.150650,0,2,1.0,0,1,1,0,1,1125,19,49,0,1
2,0.94,1,1,1,22.281881,114.152784,0,1,1.0,0,1,1,0,1,1125,4,21,4,0
3,0.75,1,1,0,22.286345,114.145656,1,1,1.0,1,1,1,0,1,7,29,59,46,0
4,1.00,1,1,0,22.283813,114.160818,0,12,0.5,1,2,1,0,1,1125,30,60,0,0

In [114]:
x_train_2.head()

,host_acceptance_rate,host_total_listings_count,host_has_profile_pic,host_identity_verified,latitude,longitude,is_location_exact,accommodates,bathrooms,bedrooms,beds,guests_included,extra_people,minimum_nights,maximum_nights,availability_30,availability_60,number_of_reviews,instant_bookable
0,0.00,1,1,1,22.273795,114.172495,1,3,1.0,1.0,2,1,0.0,3,20,29,59,0,0
1,1.00,1,1,1,22.278050,114.193187,0,6,1.0,2.0,2,1,0.0,1,1125,14,44,1,0
2,0.75,3,1,1,22.281034,114.181523,1,3,1.0,1.0,2,0,0.0,30,100,30,60,9,0
3,1.00,1,1,1,22.277047,114.169299,1,2,1.0,1.0,1,1,0.0,1,1125,30,60,1,0
4,1.00,1,1,1,22.282237,114.182462,0,2,1.0,1.0,1,0,0.0,5,1125,21,21,0,0

In [115]:
x_train_3.head()

,host_acceptance_rate,host_total_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,guests_included,extra_people,minimum_nights,maximum_nights,availability_30,availability_60,number_of_reviews
0,1.00,4,22.321091,114.169552,2,1.0,1.0,2.0,1,0,1,10000,30,60,0
1,0.87,21,22.301644,114.174483,4,1.0,1.0,3.0,2,100,3,365,27,50,59
2,0.94,10,22.299526,114.173451,2,1.0,1.0,1.0,1,0,1,1125,26,51,4
3,1.00,7,22.312277,114.169634,8,1.0,3.0,4.0,8,93,1,1125,19,43,15
4,1.00,1,22.307925,114.166118,1,1.5,1.0,2.0,1,0,1,1125,30,60,0

In [116]:
from sklearn.linear_model import LogisticRegression
model1 = LogisticRegression()
model1.fit(x_train_1, y_train_1)
probs1 = model1.predict(x_test_1)
y_test_1 = pd.DataFrame(probs1)
y_test_1.head()

     0
0  698
1  349
2  496
3  403
4  403

In [117]:
model2 = LogisticRegression()
model2.fit(x_train_2, y_train_2)
probs2 = model2.predict(x_test_2)
y_test_2 = pd.DataFrame(probs2)
y_test_2.head()

     0
0  900
1  900
2  900
3  496
4  900

In [118]:
model3 = LogisticRegression()
model3.fit(x_train_3, y_train_3)
probs3 = model3.predict(x_test_3)
y_test_3 = pd.DataFrame(probs3)
y_test_3.head()

     0
0  411
1  411
2  411
3  411
4  411

In [119]:
out_df1 = pd.DataFrame(y_test_1)
out_df1.columns = ["price"]

out_df1.to_csv("650_pre_1.csv", index=False)

In [120]:
out_df2 = pd.DataFrame(y_test_2)
out_df2.columns = ["price"]

out_df2.to_csv("650_pre_2.csv", index=False)

In [121]:
out_df3 = pd.DataFrame(y_test_3)
out_df3.columns = ["price"]

out_df3.to_csv("650_pre_3.csv", index=False)